.header {
    background-image: url(assets/assets/main-bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
}

.nav-style {
    background-color: rgba(0, 0, 0, 0.75);
}

.nav-item, .navbar-dark, .nav-link {
    color: white!important;
}

.nav-item:hover {
    color: orange!important;
}

.btn {
    border-radius: 0%;
    background-color: orange;
}
